<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Final Rental – Full Suite" verbose="1" parallel="false">

    <listeners>
        <listener class-name="com.finalrental.listeners.ExtentReportListener"/>
    </listeners>

    <test name="Register Tests">
        <classes>
            <class name="com.finalrental.tests.RegisterTest"/>
        </classes>
    </test>

    <test name="Login OTP Tests">
        <classes>
            <class name="com.finalrental.tests.LoginOtpTest"/>
        </classes>
    </test>

    <test name="Order Flow Tests">
        <classes>
            <class name="com.finalrental.tests.OrderFlowTest"/>
        </classes>
    </test>

    <test name="Edit Order Tests">
        <classes>
            <class name="com.finalrental.tests.EditOrderTest"/>
        </classes>
    </test>

    <test name="Cancel Order Tests">
        <classes>
            <class name="com.finalrental.tests.CancelOrderTest"/>
        </classes>
    </test>

</suite>